body{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 300;
}
/*Nav mobile desabilited*/
.navMobile{
    display: none;
}


/* Header style*/
.home{
    margin: 0px;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    background-image: url("/assets/images/home-background.jpg");
=======
    background-image: url("https://raw.githubusercontent.com/lucasgbriell/portfolio/master/assets/images/home-background2.jpg");
>>>>>>> e397fbb76d09076551a36680a0cd24bbee2aaa7d
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;

}
.home div{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 55px;
    align-items: center;
    
}
.home div h1{
    color:#f1f1f1;
    font-size: 4em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 0px 1px #000;
    padding-bottom: 0px;
}

.home div img{
    width: 180px;
    border-radius: 100px;
    border: solid;
    border-color: white;
    border-width: 3px;
}
.home div h3{
    font-family: 'Barlow',sans-serif;
    color:white;
    text-shadow: 1px 1px 1px #000;
    font-size:1.5em;
}

/*Navbar style*/
.nav{
    background-color: #0076A3;
    text-align: center;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav ul{
    list-style: none;
}
.nav li{
    display: inline;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top:18px;
    padding-bottom: 20px;
}
.nav li:hover{

    background-color:#033649;
}
.nav a{
    color: white;
    text-decoration: none;
    height:40px;
}
.fixar {
    position: fixed;
    top: 0;
    z-index:99;
    width: 100%; 
    clear: both;
}

/*Cores dos icones*/
.paintBlue{
    color:darkblue;
}
.size20{
    width: 20px;
}
.blue{
    color: #033649;
}
.radius{
    border-color: #033649;;
    border-style: solid;
    border-width: 3px;
    border-radius: 105px;
    padding: 25px;
}
/*Services Style*/
.services{
    padding-top: 110px;
    text-align: center;
    padding-bottom: 50px;
}
.title{
    font-size: 2.4em;
    font-family: 'Josefin Sans',sans-serif;
}
.subTitle{
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}
.serviceGroup{
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: wrap;
    padding-top:20px;
    justify-content: center;
}
.serviceList{
    width: 20%;
    padding:20px;

}
.btnMore{
    border-color: #19697D;
    color: #033649;
    padding: 5px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    width: 100px;
    border-radius: 20px;
    transition: background-color,width 0.5s ease-out;
}
.btnMore:hover{
    background-color:#19697D;
    color:white;
    padding: 6px;
    width: 120px;
    cursor: pointer;
    transition: background-color,width 0.5s ease-out;
}


/*About me*/
.project{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 100px;
    background-color: #f1f1f1;
}
.myWork{
    padding-top: 30px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: wrap;
}
.divImg{
    width: 60%;
    justify-content: center;
}
.divDesc{
    width: 30%;
    text-align: left;
}
.divDesc a{
    font-family: 'Anton',serif;
    font-size: 2.0em;
    color: red;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-color:black;
    padding:0px 35px 0px 35px;
}
.divDesc b{
    color:#0B7A96;
}

.project img{
    width: 80%;
}

/*Contato*/

.contact{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.divContact{
    padding-top: 30px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: wrap;
}
.contactForm{
    width: 60%;
}
.contactForm div{
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.button{
    padding-top: 10px;
}
.contactForm div p{
    width: 65%;
    padding: 0px;
}
.contactForm .message p{
    width: 68%;
}
.contactForm input{
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: black;
    padding: 5px;
    width: 40%;
}
.contactForm textarea{
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: black;
    padding: 5px;
    width: 40%;
    height: 60px;
}
.contactForm button{
    padding: 5px;
    width: 100px;
    background-color: white;
    color: black;
    border-color: #033649;
    border-style: solid;
    border-width: 1px;
}
.contactForm button:hover{
    background-color: #033649;
    color: white;
}
.contactMe{
    text-align: left;
    width: 40%;
}
.contactText{
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 300;
    font-size: 1em;
}
.groupIcons{
    padding-top: 20px;
}
.groupIcons a{
    text-decoration: none;
}

/*Footer*/
.footer{
    padding: 10px;
    background-color:#172D3A;
    color:white;
    text-align: center;
}
.footerContent{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.footerText{
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 300;
    font-size: 1em;
}
.lang{
    width: 40%;
<<<<<<< HEAD
    text-align: left;
    padding-left: 20px;
}
.lang a{
    text-decoration: none;
    color: white;
}
.copyright{
    width: 30%;
    text-align: left;
    border-color: #859CA4;
    border-style: solid;
    border-width: 0px;
    border-left-width: thin;
    padding-left: 15px;
}


/*Extras*/
.colorBlue{
    color:blue;
}
.colorDarkblue{
    color: darkblue;
}
.colorBlack{
    color: black;
}
.colorSkyblue{
    color: DodgerBlue;
}
.slimLine{
    background-color: white;
    width: 500px;
    height:2px;
}
.colorDarkblue{
    color:#033649;
}
/*Mobile version*/
@media screen and (max-width: 650px) {
    body{
        max-width: 100%;
        overflow-x: hidden;
    }
    .navMobile{
        display: flex;
        flex-direction: column;
        position: fixed;
    }
    .navMobile ul{
        display: none;
    }
    .topNavbar{
        text-align: right;
        padding-top:5px;
        padding-left: 5px;
    }
    .nav{
        display: none;
    }
    .navDisplay{
        display: flex;
        flex-direction: column;
    }
    .home{
        height: 100%;
        background-size: cover;
        padding-bottom: 100px;
    }
    .home div h1{
        font-size: 2em;
    }
    .home div h3{
        font-size: 1em;
    }
    .slimLine{
        background-color: white;
        width: 100%;
        height:2px;
    }
    .services{
        padding-top:50px;
    }
    .serviceList{
        
    }
    .title{
        font-size: 2em;
    }
    .subTitle{
        font-size: 1.2em;
    }
    .serviceGroup{
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .serviceList{
        width: 89%;
    }

    .myWork{
        flex-direction: column;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .divImg{
        width: 100%;
        padding-bottom: 10px;
    }
    .divDesc{
        padding-top: 10px;
        width: 100%;
        text-align: center;
    }
    .contact{
        flex-direction: column;
    }
    .divContact{
        flex-direction: column;
    }
    .contactForm{
        width: 100%;
    }
    .contactForm div p{
        width: 40%;
    }
    .contactForm input{
        width: 70%;
    }
    .contactForm .message p{
        width: 46%;
    }
    .contactForm textarea{
        width: 70%;
    }
    .contactMe{
        text-align: center;
        width: 100%;
    }
}
=======
}
>>>>>>> e397fbb76d09076551a36680a0cd24bbee2aaa7d
